<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Macy's Shopping bag</title>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../scripts/controllers/productDetails.js"></script>
<body ng-app='bagApp' ng-controller='bagCtrl'>
				
				
				<div class="container">

		<a href="/shoppingcart"> <img src="../images/stopandshop.jpg" style="width: 200px; height: 100px;" class="img-rounded" alt="Cinque Terre">
		</a>
		<br>
		<br>
	</div>
	<div id="shoppingBagStore">
		<div class="globalMastheadBagIconShoppingBag"></div>
		<div id="shoppingBagHeadingDiv"
			class="yourShoppingBag redesign-bops-panel">
			Shopping Bag
			<p id="shoppingBagId">Bag ID: 1044-397227</p>
		</div>
		<input type="hidden" id="bagId" value="1044-397227">
	</div>
	<div class="bagItems redesign-pros-panel" id="bagItems">
		<div id="generalErrorContent">
			<div id="unavailableHeaderMsg"
				class="hidden generalError notification-error">We're sorry.
				The highlighted item(s) in your Shopping Bag are currently
				unavailable. Please delete the item(s) to proceed.</div>
			<div id="registryHeaderMsg" class="hidden notification-error"></div>
			<div id="errorMsgContainer" class="hidden">
				<div class="generalError notification-error">
					<div class="errorMsg"></div>
				</div>
			</div>
			<!-- End tag of the errorMsgContainer div -->
			<span id="bopsIsRegistry" class="hidden">false</span>
		</div>
		<div id="msg_generalmessage" class="wishlistMsg hidden"></div>
		<div id="mergeBagContent"></div>
		<div id="bagContentLineItems">
			<div class="bagContent">
				<div class="clearFloats"></div>
				<div id="itemsContainer">
					<div class="itemsHeader">
						<div class="colItem">item</div>
						<div id="deliveryColHeading" class="colDelivery">delivery</div>
						<div class="colQtyHeader">qty.</div>
						<div class="colPriceHeader">price</div>
					</div>
					<div class="lineItem dashedResgistryLine"
						id="lineitem_37384129_3_2" style="border-top: none;">
						<div class="qvAddToBagMessage"></div>
						<div id="bagErrMsg_3" class="bagErrorMsg hidden"></div>
						<div class="clearFloats"></div>
						<div class="lineItemError hidden notification-error"
							id="lineItemError_3"></div>
						<div class="colItem">
							<span class="itemImage"> <a
								href="https://www.macys.com/shop/product/carters-1-pc.-dog-footed-pajamas-baby-boys-0-24-months?ID=4591384"
								class="productUrl"> <img class="productImage"
									src="https://slimages.macysassets.com/is/image/MCY/products/2/optimized/8659622_fpx.tif?$filtermed$&amp;wid=100">
							</a>
							</span> <span class="itemDescription">
								<div class="itemName">
									<a
										href="https://www.macys.com/shop/product/carters-1-pc.-dog-footed-pajamas-baby-boys-0-24-months?ID=4591384"
										class="productName productUrl" id="href_3_productDesc">
										Carter's 1-Pc. Dog Footed Pajamas, Baby Boys (0-24 months) </a>
									<script>
										if ("Carter's" !== "") {
											brandValArray.push("Carter's");
											brandUpcIdValArray.push({
												"upcId" : "37384129",
												"brand" : "Carter's"
											});
										}
									</script>
									<script>
										var Globals = require("globals");
										if (Globals) {
											Globals.setValue(
													"brandValuesArray",
													brandValArray);
											Globals.setValue(
													"brandUpcIdValuesArray",
													brandUpcIdValArray);
										}
									</script>
								</div> <span id="lineItemColor_3" class="itemColor"> <span
									class="label">Color: </span> <span class="valColor">Heather</span><br>
							</span> <span id="lineItemSize_3" class="itemSize"> <span
									class="label">Size: </span> <span class="valSize">18
										months</span><br>
							</span> <span class="itemWebId"> <span class="label">Web
										ID: </span> <span id="webID_4591384" class="valWebId">4591384</span><br>
							</span>
							</span>
						</div>
						<div class="colDelivery">
							<span class="stockAvailable"> In Stock: Usually ships
								within 2 business days. </span>
						</div>
						<div class="colQtyUpdate">
							<select id="qtySelect_37384129_3" class="selectQty qtySelect_3">
								<option value="1">1</option>
								<option value="2" selected="selected">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<div class="colTotalPrice">
							<div class="colPriceUpdate">
								<div class="tieredPriceWrapper">
									<div class="tieredPriceType">Reg. INR 1,398.00</div>
									<div class="bagLowestPrice tieredPriceSaleType">Sale INR
										559.00</div>
								</div>
							</div>
							<div class="colTotalUpdate">
								<strong> Item total: <span id="lineTotal_3"
									class="itemTotal"> INR 1,118.00 </span>
								</strong>
							</div>
						</div>
						<div class="makeChoice" id="makeChoiceColors_3"></div>
						<div class="makeChoice" id="makeChoiceSizes_3"></div>
						<div class="makeChoice" id="makeChoiceTypes_3"></div>
						<div class="promoDetails">
							<div id="promotionDesc_3"></div>
							<div id="promotionPrice_3" class="promoPrice"></div>
						</div>
						<div style="padding-bottom: 9px; width: 100%">
							<div class="clearFloats"></div>
							<div style="float: right; padding-top: 3px;">
								<div class="secondary linkOverride removeLink"
									id="remove_item_37384129_3_2">Remove</div>
								&nbsp;&nbsp;
							</div>
						</div>
						<span id="productId_3" class="lineItemAttributes prodId hidden">4591384</span>
						<span id="prodName_3" class="lineItemAttributes hidden">Carter's
							1-Pc. Dog Footed Pajamas, Baby Boys (0-24 months)</span> <span
							id="qty_3" class="lineItemAttributes hidden">2</span> <span
							id="basePrice_3" class="lineItemAttributes hidden">559.00</span>
						<span id="categoryId_3" class="lineItemAttributes hidden">65451</span>
						<span id="giftItem_3" class="lineItemAttributes hidden giftItem">false</span>
						<span id="prodSelectionInfo_3" class="lineItemAttributes hidden">cmexplore=-_--_--_--_--_--_--_--_-1028-_-1-_--_--_--_--_-INTERNATIONAL_IN-_-SINGLE%20ITEM-_--_--_-79%7CBOOST%20SAVED%20SET%7CBOOST%20ATTRIBUTE-_-22-_--_--_--_--_--_--_--_--_--_-PDP%20Colorized-_-0-_-0-_-True%20Fit%20eligible-_--_--_--_--_--_--_--_-Online:%20In%20Stock%7CBOPS:%20NA-_--_--_--_--_--_--_--_--_-NLS%20SEARCH:NONE&amp;&amp;PseudoCat=48693&amp;PseudoProdID=4591384&amp;BagDate=10/20/2017&amp;breadCrumbCategory=Kids%20%26%20Baby%20-%20Baby%20Boy%20(0-24%20months)&amp;productSize=18%20months&amp;productCategoryName=Kids%20%26%20Baby%20-%20Baby%20Boy%20(0-24%20months)</span>
						<span id="promoId_3" class="lineItemAttributes hidden">0</span> <span
							id="autoAddChoice_3" class="lineItemAttributes hidden">ADD</span>
						<span id="productInfoForBopsStoreOverlay_190795625967"
							class="lineItemAttributes upcNumber hidden"> <span>
								<ul>
									<li>Carter's 1-Pc. Dog Footed Pajamas, Baby Boys (0-24
										months)</li>
									<li class="txt_rt"><span class="tagName">Qty:</span> <span
										class="tagValue" id="quantity_37384129">2</span> <span
										class="tagName">Color:</span> <span class="tagValue">Heather</span>
										<span class="tagName">Size:</span> <span class="tagValue">18
											months</span></li>
								</ul>
						</span>
						</span> <span id="storeavailabileMessage_37384129"
							class="lineItemAttributes storeavailabileMessage hidden">In
							Stock: Usually ships within 2 business days.</span> <span
							id="isRegistryLineItem"
							class="lineItemAttributes isRegistryLineItem hidden"></span>
						<div class="clearFloats"></div>
					</div>
					<div class="clearFloats"></div>
					<div class="wishlistMsg hidden" id="msg_37384129_3_2"></div>
					<div class="lineItem dashedResgistryLine"
						id="lineitem_32541723_6_1">
						<div class="qvAddToBagMessage"></div>
						<div id="bagErrMsg_6" class="bagErrorMsg hidden"></div>
						<div class="clearFloats"></div>
						<div class="lineItemError hidden notification-error"
							id="lineItemError_6"></div>
						<div class="colItem">
							<span class="itemImage"> <a
								href="https://www.macys.com/shop/product/michael-kors-mens-blue-solid-classic-fit-jacket?ID=1417104"
								class="productUrl"> <img class="productImage"
									src="https://slimages.macysassets.com/is/image/MCY/products/1/optimized/3158601_fpx.tif?$filtermed$&amp;wid=100">
							</a>
							</span> <span class="itemDescription">
								<div class="itemName">
									<a
										href="https://www.macys.com/shop/product/michael-kors-mens-blue-solid-classic-fit-jacket?ID=1417104"
										class="productName productUrl" id="href_6_productDesc">
										Michael Kors Men's Blue Solid Classic-Fit Jacket </a>
									<script>
										if ("Michael Kors" !== "") {
											brandValArray.push("Michael Kors");
											brandUpcIdValArray.push({
												"upcId" : "32541723",
												"brand" : "Michael Kors"
											});
										}
									</script>
									<script>
										var Globals = require("globals");
										if (Globals) {
											Globals.setValue(
													"brandValuesArray",
													brandValArray);
											Globals.setValue(
													"brandUpcIdValuesArray",
													brandUpcIdValArray);
										}
									</script>
								</div> <span id="lineItemColor_6" class="itemColor"> <span
									class="label">Color: </span> <span class="valColor">Blue</span><br>
							</span> <span id="lineItemSize_6" class="itemSize"> <span
									class="label">Size: </span> <span class="valSize">48R</span><br>
							</span> <span class="itemWebId"> <span class="label">Web
										ID: </span> <span id="webID_1417104" class="valWebId">1417104</span><br>
							</span> <span class="stateConstraint"> This item may not be
									shipped to P.O.Box, Northern Mariana, Alaska, Armed Forces
									Pacific, Armed Forces Europe, Puerto Rico, Guam, Marshall
									Islands, Federated States of Micronesia, Hawaii, American
									Samoa, U.S. Virgin Islands, Armed Forces Americas, Palau. </span>
							</span>
						</div>
						<div class="colDelivery">
							<span class="stockAvailable"> Direct from vendor: usually
								ships within 3 business days. </span>
						</div>
						<div class="colQtyUpdate">
							<select id="qtySelect_32541723_6" class="selectQty qtySelect_6">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<div class="colTotalPrice">
							<div class="colPriceUpdate">
								<div class="tieredPriceWrapper">
									<div class="tieredPriceType">Reg. INR 29,718.00</div>
									<div class="bagLowestPrice tieredPriceSaleType">Sale INR
										10,488.00</div>
								</div>
							</div>
							<div class="colTotalUpdate">
								<strong> Item total: <span id="lineTotal_6"
									class="itemTotal"> INR 10,488.00 </span>
								</strong>
							</div>
						</div>
						<div class="makeChoice" id="makeChoiceColors_6"></div>
						<div class="makeChoice" id="makeChoiceSizes_6"></div>
						<div class="makeChoice" id="makeChoiceTypes_6"></div>
						<div class="promoDetails">
							<div id="promotionDesc_6"></div>
							<div id="promotionPrice_6" class="promoPrice"></div>
						</div>
						<div style="padding-bottom: 9px; width: 100%">
							<div class="clearFloats"></div>
							<div style="float: right; padding-top: 3px;">
								<div class="secondary linkOverride removeLink"
									id="remove_item_32541723_6_1">Remove</div>
								&nbsp;&nbsp;
							</div>
						</div>
						<span id="productId_6" class="lineItemAttributes prodId hidden">1417104</span>
						<span id="prodName_6" class="lineItemAttributes hidden">Michael
							Kors Men's Blue Solid Classic-Fit Jacket</span> <span id="qty_6"
							class="lineItemAttributes hidden">1</span> <span id="basePrice_6"
							class="lineItemAttributes hidden">10,488.00</span> <span
							id="categoryId_6" class="lineItemAttributes hidden">16499</span>
						<span id="giftItem_6" class="lineItemAttributes hidden giftItem">false</span>
						<span id="prodSelectionInfo_6" class="lineItemAttributes hidden">cmexplore=-_--_--_--_--_--_--_--_-306-_-1-_--_--_--_--_-INTERNATIONAL_IN-_-MASTER%20%7C%204785600-_--_--_-78%7CBOOST%20SAVED%20SET%7CBOOST%20ATTRIBUTE-_-1-_--_--_--_--_--_--_--_--_--_-PDP%20Colorized-_-4-_-0-_-True%20Fit%20eligible-_--_--_--_--_--_--_--_-Online:%20In%20Stock%7CBOPS:%20NA-_--_--_--_--_--_--_--_--_-NLS%20SEARCH:NONE&amp;&amp;PseudoCat=17788&amp;PseudoProdID=1417104&amp;BagDate=10/22/2017&amp;breadCrumbCategory=Men%20-%20Suits%20%26%20Suit%20Separates&amp;productSize=48R&amp;productCategoryName=Men%20-%20Suits%20%26%20Suit%20Separates</span>
						<span id="promoId_6" class="lineItemAttributes hidden">0</span> <span
							id="autoAddChoice_6" class="lineItemAttributes hidden">ADD</span>
						<span id="productInfoForBopsStoreOverlay_882506418554"
							class="lineItemAttributes upcNumber hidden"> <span>
								<ul>
									<li>Michael Kors Men's Blue Solid Classic-Fit Jacket</li>
									<li class="txt_rt"><span class="tagName">Qty:</span> <span
										class="tagValue" id="quantity_32541723">1</span> <span
										class="tagName">Color:</span> <span class="tagValue">Blue</span>
										<span class="tagName">Size:</span> <span class="tagValue">48R</span>
									</li>
								</ul>
						</span>
						</span> <span id="storeavailabileMessage_32541723"
							class="lineItemAttributes storeavailabileMessage hidden">Direct
							from vendor: usually ships within 3 business days.</span> <span
							id="isRegistryLineItem"
							class="lineItemAttributes isRegistryLineItem hidden"></span>
						<div class="clearFloats"></div>
					</div>
					<div class="clearFloats"></div>
					<div class="wishlistMsg hidden" id="msg_32541723_6_1"></div>
					<div class="lineItem dashedResgistryLine"
						id="lineitem_32541721_9_1">
						<div class="qvAddToBagMessage"></div>
						<div id="bagErrMsg_9" class="bagErrorMsg hidden"></div>
						<div class="clearFloats"></div>
						<div class="lineItemError hidden notification-error"
							id="lineItemError_9"></div>
						<div class="colItem">
							<span class="itemImage"> <a
								href="https://www.macys.com/shop/product/michael-kors-mens-blue-solid-classic-fit-jacket?ID=1417104"
								class="productUrl"> <img class="productImage"
									src="https://slimages.macysassets.com/is/image/MCY/products/1/optimized/3158601_fpx.tif?$filtermed$&amp;wid=100">
							</a>
							</span> <span class="itemDescription">
								<div class="itemName">
									<a
										href="https://www.macys.com/shop/product/michael-kors-mens-blue-solid-classic-fit-jacket?ID=1417104"
										class="productName productUrl" id="href_9_productDesc">
										Michael Kors Men's Blue Solid Classic-Fit Jacket </a>
									<script>
										if ("Michael Kors" !== "") {
											brandValArray.push("Michael Kors");
											brandUpcIdValArray.push({
												"upcId" : "32541721",
												"brand" : "Michael Kors"
											});
										}
									</script>
									<script>
										var Globals = require("globals");
										if (Globals) {
											Globals.setValue(
													"brandValuesArray",
													brandValArray);
											Globals.setValue(
													"brandUpcIdValuesArray",
													brandUpcIdValArray);
										}
									</script>
								</div> <span id="lineItemColor_9" class="itemColor"> <span
									class="label">Color: </span> <span class="valColor">Blue</span><br>
							</span> <span id="lineItemSize_9" class="itemSize"> <span
									class="label">Size: </span> <span class="valSize">46R</span><br>
							</span> <span class="itemWebId"> <span class="label">Web
										ID: </span> <span id="webID_1417104" class="valWebId">1417104</span><br>
							</span> <span class="stateConstraint"> This item may not be
									shipped to P.O.Box, Northern Mariana, Alaska, Armed Forces
									Pacific, Armed Forces Europe, Puerto Rico, Guam, Marshall
									Islands, Federated States of Micronesia, Hawaii, American
									Samoa, U.S. Virgin Islands, Armed Forces Americas, Palau. </span>
							</span>
						</div>
						<div class="colDelivery">
							<span class="stockAvailable"> In Stock: usually ships
								within 3 business days. </span>
						</div>
						<div class="colQtyUpdate">
							<select id="qtySelect_32541721_9" class="selectQty qtySelect_9">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<div class="colTotalPrice">
							<div class="colPriceUpdate">
								<div class="tieredPriceWrapper">
									<div class="tieredPriceType">Reg. INR 29,718.00</div>
									<div class="bagLowestPrice tieredPriceSaleType">Sale INR
										10,488.00</div>
								</div>
							</div>
							<div class="colTotalUpdate">
								<strong> Item total: <span id="lineTotal_9"
									class="itemTotal"> INR 10,488.00 </span>
								</strong>
							</div>
						</div>
						<div class="makeChoice" id="makeChoiceColors_9"></div>
						<div class="makeChoice" id="makeChoiceSizes_9"></div>
						<div class="makeChoice" id="makeChoiceTypes_9"></div>
						<div class="promoDetails">
							<div id="promotionDesc_9"></div>
							<div id="promotionPrice_9" class="promoPrice"></div>
						</div>
						<div style="padding-bottom: 9px; width: 100%">
							<div class="clearFloats"></div>
							<div style="float: right; padding-top: 3px;">
								<div class="secondary linkOverride removeLink"
									id="remove_item_32541721_9_1">Remove</div>
								&nbsp;&nbsp;
							</div>
						</div>
						<span id="productId_9" class="lineItemAttributes prodId hidden">1417104</span>
						<span id="prodName_9" class="lineItemAttributes hidden">Michael
							Kors Men's Blue Solid Classic-Fit Jacket</span> <span id="qty_9"
							class="lineItemAttributes hidden">1</span> <span id="basePrice_9"
							class="lineItemAttributes hidden">10,488.00</span> <span
							id="categoryId_9" class="lineItemAttributes hidden">16499</span>
						<span id="giftItem_9" class="lineItemAttributes hidden giftItem">false</span>
						<span id="prodSelectionInfo_9" class="lineItemAttributes hidden">cmexplore=-_--_--_--_--_--_--_--_-306-_-1-_--_--_--_--_-INTERNATIONAL_IN-_-MASTER%20%7C%204785600-_--_--_-78%7CBOOST%20SAVED%20SET%7CBOOST%20ATTRIBUTE-_-1-_--_--_--_--_--_--_--_--_--_-PDP%20Colorized-_-4-_-0-_-True%20Fit%20eligible-_--_--_--_--_--_--_--_-Online:%20In%20Stock%7CBOPS:%20NA-_--_--_--_--_--_--_--_--_-NLS%20SEARCH:NONE&amp;&amp;PseudoCat=17788&amp;PseudoProdID=1417104&amp;BagDate=10/22/2017&amp;breadCrumbCategory=Men%20-%20Suits%20%26%20Suit%20Separates&amp;productSize=46R&amp;productCategoryName=Men%20-%20Suits%20%26%20Suit%20Separates</span>
						<span id="promoId_9" class="lineItemAttributes hidden">0</span> <span
							id="autoAddChoice_9" class="lineItemAttributes hidden">ADD</span>
						<span id="productInfoForBopsStoreOverlay_882506418530"
							class="lineItemAttributes upcNumber hidden"> <span>
								<ul>
									<li>Michael Kors Men's Blue Solid Classic-Fit Jacket</li>
									<li class="txt_rt"><span class="tagName">Qty:</span> <span
										class="tagValue" id="quantity_32541721">1</span> <span
										class="tagName">Color:</span> <span class="tagValue">Blue</span>
										<span class="tagName">Size:</span> <span class="tagValue">46R</span>
									</li>
								</ul>
						</span>
						</span> <span id="storeavailabileMessage_32541721"
							class="lineItemAttributes storeavailabileMessage hidden">In
							Stock: usually ships within 3 business days.</span> <span
							id="isRegistryLineItem"
							class="lineItemAttributes isRegistryLineItem hidden"></span>
						<div class="clearFloats"></div>
					</div>
					<div class="clearFloats"></div>
					<div class="wishlistMsg hidden" id="msg_32541721_9_1"></div>
				</div>
				<div id="blankLineItem" class="hidden">
					<div class="lineItem dashedResgistryLine" id="lineitem___">
						<div id="gwpItem_" class="notAvailableLine notification-info">
							This Free Gift has been added to your bag</div>
						<div class="qvAddToBagMessage"></div>
						<div id="bagErrMsg_" class="bagErrorMsg hidden"></div>
						<div class="clearFloats"></div>
						<div class="lineItemError hidden notification-error"
							id="lineItemError_"></div>
						<div class="colItem">
							<span class="itemImage"> <a href="https://www.macys.com"
								class="productUrl"> <img class="productImage"
									src="https://assets.macysassets.com/bagapp/img/spacer.gif">
							</a>
							</span> <span class="itemDescription">
								<div class="itemName">
									<a href="https://www.macys.com" class="productName productUrl"
										id="href__productDesc"> </a>
									<script>
										if ("" !== "") {
											brandValArray.push("");
											brandUpcIdValArray.push({
												"upcId" : "",
												"brand" : ""
											});
										}
									</script>
									<script>
										var Globals = require("globals");
										if (Globals) {
											Globals.setValue(
													"brandValuesArray",
													brandValArray);
											Globals.setValue(
													"brandUpcIdValuesArray",
													brandUpcIdValArray);
										}
									</script>
								</div> <span id="lineItemColor_" class="itemColor"> <span
									class="label">Color: </span> <span class="valColor"></span><br>
							</span> <span id="lineItemSize_" class="itemSize"> <span
									class="label">Size: </span> <span class="valSize"></span><br>
							</span> <span id="lineItemType_" class="itemType"> <span
									class="label">Type: </span> <span class="valType"></span><br>
							</span> <span class="itemWebId"> <span class="label">Web
										ID: </span> <span id="webID_" class="valWebId"></span><br>
							</span>
							</span>
						</div>
						<div class="colDelivery">
							<span class="stockAvailable"> </span>
						</div>
						<div class="colTotalPrice">
							<div class="colTotalUpdate">
								<strong> Item total: <span id="lineTotal_"
									class="itemTotal"> INR </span>
								</strong>
							</div>
						</div>
						<div class="makeChoice" id="makeChoiceColors_"></div>
						<div class="makeChoice" id="makeChoiceSizes_"></div>
						<div class="makeChoice" id="makeChoiceTypes_"></div>
						<div class="promoDetails">
							<div id="promotionDesc_"></div>
							<div id="promotionPrice_" class="promoPrice"></div>
						</div>
						<div style="padding-bottom: 9px; width: 100%">
							<div class="clearFloats"></div>
							<div style="float: right; padding-top: 3px;">
								<div class="secondary linkOverride removeLink"
									id="remove_item___">Remove</div>
								&nbsp;&nbsp;
							</div>
						</div>
						<span id="productId_" class="lineItemAttributes prodId hidden"></span>
						<span id="prodName_" class="lineItemAttributes hidden"></span> <span
							id="qty_" class="lineItemAttributes hidden"></span> <span
							id="basePrice_" class="lineItemAttributes hidden"></span> <span
							id="categoryId_" class="lineItemAttributes hidden"></span> <span
							id="giftItem_" class="lineItemAttributes hidden giftItem"></span>
						<span id="prodSelectionInfo_" class="lineItemAttributes hidden"></span>
						<span id="promoId_" class="lineItemAttributes hidden"></span> <span
							id="autoAddChoice_" class="lineItemAttributes hidden"></span> <span
							id="productInfoForBopsStoreOverlay_"
							class="lineItemAttributes upcNumber hidden"> <span>
								<ul>
									<li></li>
									<li class="txt_rt"><span class="tagName">Qty:</span> <span
										class="tagValue" id="quantity_"></span></li>
								</ul>
						</span>
						</span> <span id="storeavailabileMessage_"
							class="lineItemAttributes storeavailabileMessage hidden"></span>
						<span id="isRegistryLineItem"
							class="lineItemAttributes isRegistryLineItem hidden"></span>
						<div class="clearFloats"></div>
					</div>
					<div class="clearFloats"></div>
					<div class="wishlistMsg hidden" id="msg___"></div>
				</div>
				<div id="storeav-oy" class="storeav-oy hidden bops-overlay"
					style="visibility: hidden">
					<div class="png-hack"></div>
					<div class="overlay-bd overlay-bd-bops" id="overlay-bd">
						<div class="ovr-bd-out-bops">
							<form name="locatorForm" method="POST" id="locatorForm"
								onsubmit="return false;">
								<div id="err-msg"></div>
								<div id="closeFindItInStoreOverlayDiv" style="float: right;">
									<a id="closeFindItInStoreOverlay_bops"
										href="Javascript:void(0);"
										style="display: block; z-index: 99999;" class="close"
										tabindex="0"> <img id="fiisoCloseImg"
										src="https://assets.macysassets.com/bagapp/web20/assets/img/pdp/Close_icon.png"
										alt="Close">
									</a>
								</div>
								<h2 id="stp-ttl-bops">Pick up in-store</h2>
								<i class="bops-store-separatorTop"></i>
								<div id="saData">
									<div id="inStoreSearchErrorMsg"
										class="error-msg error-bops hidden"></div>
									<div class="error-msg error-bops hidden" id="tech-prb">
										<p>We're sorry; our site is experiencing technical
											difficulties. We're unable to provide this service at this
											time. Please try again later.</p>
									</div>
									<div id="srch-frm-bops" class="ovr-bd-infrm cfx">
										<div class="formRow">
											<p>
												<label for="sfZip" id="zipCode">zip code</label>
											</p>
											<input id="bopsf1Zip" name="fZip" maxlength="5" value=""
												tabindex="1">
										</div>
										<div id="bopsOrDivider" class="bopsovr-infrmc">OR</div>
										<div class="formRow">
											<p>
												<label for="sfCity" id="city">city</label>
											</p>
											<input id="bopsf1City" name="fCity" value="" maxlength="50"
												tabindex="2">
										</div>
										<div class="formRow state-select-pops">
											<p>
												<label for="sfState" id="state" class="state-bops">state</label>
											</p>
											<div id="dropDownWrap">
												<h2 id="bopsStateLabel"
													style="background: url('https://assets.macysassets.com/bagapp/web20/assets/img/multifacet/drop_down_arrow.gif') no-repeat scroll right center">select</h2>
												<select id="bopsf1State" class="bopsField" tabindex="3">
													<option value="NOSELECTION">Select</option>
													<option value="AL">Alabama</option>
													<option value="AK">Alaska</option>
													<option value="AZ">Arizona</option>
													<option value="AR">Arkansas</option>
													<option value="CA">California</option>
													<option value="CO">Colorado</option>
													<option value="CT">Connecticut</option>
													<option value="DE">Delaware</option>
													<option value="DC">District of Columbia</option>
													<option value="FL">Florida</option>
													<option value="GA">Georgia</option>
													<option value="HI">Hawaii</option>
													<option value="ID">Idaho</option>
													<option value="IL">Illinois</option>
													<option value="IN">Indiana</option>
													<option value="IA">Iowa</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="ME">Maine</option>
													<option value="MD">Maryland</option>
													<option value="MA">Massachusetts</option>
													<option value="MI">Michigan</option>
													<option value="MN">Minnesota</option>
													<option value="MS">Mississippi</option>
													<option value="MO">Missouri</option>
													<option value="MT">Montana</option>
													<option value="NE">Nebraska</option>
													<option value="NV">Nevada</option>
													<option value="NH">New Hampshire</option>
													<option value="NJ">New Jersey</option>
													<option value="NM">New Mexico</option>
													<option value="NY">New York</option>
													<option value="NC">North Carolina</option>
													<option value="ND">North Dakota</option>
													<option value="OH">Ohio</option>
													<option value="OK">Oklahoma</option>
													<option value="OR">Oregon</option>
													<option value="PA">Pennsylvania</option>
													<option value="RI">Rhode Island</option>
													<option value="SC">South Carolina</option>
													<option value="SD">South Dakota</option>
													<option value="TN">Tennessee</option>
													<option value="TX">Texas</option>
													<option value="UT">Utah</option>
													<option value="VT">Vermont</option>
													<option value="VA">Virginia</option>
													<option value="WA">Washington</option>
													<option value="WV">West Virginia</option>
													<option value="WI">Wisconsin</option>
													<option value="WY">Wyoming</option>
												</select>
											</div>
										</div>
										<div class="formRow ovr-infrma2 ovr-infrma2-bops"
											id="searchMiles">
											<p>
												<label id="inStoreDistance" class="bopslabel-distance">within</label>
											</p>
											<div id="dropDownWrap">
												<h2 id="bopsDistanceLabel"
													style="background: url('https://assets.macysassets.com/bagapp/web20/assets/img/multifacet/drop_down_arrow.gif') no-repeat scroll right center !important">10
													miles</h2>
												<select id="bopsf1Distance" class="bopsField" tabindex="4">
													<option value="5">5 miles</option>
													<option value="10" selected="true">10 miles</option>
													<option value="25">25 miles</option>
													<option value="50">50 miles</option>
													<option value="100">100 miles</option>
												</select>
											</div>
										</div>
										<div class="secondaryBtnL" id="bopsStoreSearchBtn"
											tabindex="5">search</div>
									</div>
									<div id="srch-frm-2" class="ovr-bd-infrm cfx">
										<div
											class="ovr-prod-det ul-block cfx bops-prod-det prod-data-bops"
											id="prod-data">
											<img id="fiisProductImage" height="72" width="59" alt=""
												src="https://assets.macysassets.com/bagapp/img/spacer.gif">
											<img id="fiisProductSwatchImage" height="70" width="70"
												alt=""
												src="https://assets.macysassets.com/bagapp/img/spacer.gif">
											<ul id="prod-ul"></ul>
										</div>
										<div class="cleardiv"></div>
										<div id="searchStore" style="display: none"></div>
									</div>
									<br class="clear">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bagFooterContent">
			<div class="bagFooter">
				<div class="bagFooterLeft">
					<div id="promoPool" class="hidden"></div>
					<div id="instoreLearnMore"></div>
					<div id="freeShippingEveryDay" class="hidden">
						<!-- Special breadcrumb for ads - FT defect #3000 -->
						<!-- not cat suppress start -->
						<!-- <a href="#" onclick="return displayModalWindow(event);"> -->
						<a
							href="javascript:pop('/popup.ognc?popupID=820357','myDynaPop','width=365,scrollbars=yes,height=600')">
							<img
							src="https://assets.macysassets.com/bagapp/dyn_img/site_ads/041117_PROMO_GENERIC_CheckoutAds_4_1284550.png"
							alt="Free Shipping at $25, Excludes furniture and mattresses, Exclusions and Details"
							width="310" height="73" border="0">
						</a>
						<!-- not cat suppress end -->
					</div>
				</div>
				<div class="floatRight">
					<div class="bagFooterRight">
						<div id="orderLevelPromoContainer"></div>
						<div class="promocodeContainer">
							<div class="promocodeRow" style="float: left;">
								<div class="promocodeQuestion" style="margin-top: 0px;">Have
									a promo code?</div>
							</div>
							<div class="promocodeRow">
								<input type="text" id="promoCode" size="13" maxlength="30">
								<input type="button"
									class="buttonNonSubmitBorders promocodeApply" value="apply"
									alt="apply" id="applyPromoCode">
							</div>
							<div class="promocodRrow">
								<span class="promocodeDesc">only one promo code may be
									used per order</span>
							</div>
							<div class="clearFloats"></div>
						</div>
						<div class="separator"></div>
						<div class="bagContainer" id="bagContainer">
							<ul>
								<li id="intSubTotal">
									<div class="bagContainer subTotal">
										<div class="totalsStandard subTotalText">Subtotal:</div>
										<div id="bagMerchandiseTotal"
											class="totalsValStandard totalsRight">INR 22,094.00</div>
									</div>
								</li>
								<li id="intMesg">
									<p style="font-size: 12px;">Shipping, duties and taxes will
										be calculated at checkout, where applicable.</p>
								</li>
							</ul>
						</div>
						<div id="bagYouSaved" class="">
							<span id="youSaved" class="savings">you saved :</span> <span
								id="bagYouSavedTotal" class="savings">INR 40,138.00</span>
							<div class="savingsCalc">
								<a href="javascript:void(0);" id="savingsCalc">How is this
									calculated?</a>
							</div>
						</div>
						<div class="clearFloats"></div>
						<div class="clearFloats"></div>
						<div class="bagContainer shoppingButtons">
							<button id="continueCheckout" class="small expand ">PROCEED
								TO CHECKOUT</button>
							<!-- 
<img id="continueShoppingButton" class="buttonNonSubmitBorders " alt="Continue Shopping" src="https://assets.macysassets.com/bagapp/web20/assets/img/bag/keep_shopping_btn.png" name="CONTINUE_BUTTON" value="CONTINUE_BUTTON">
<img id="continueCheckout" class="buttonSubmitBorders " alt="CONTINUE CHECKOUT" src="https://assets.macysassets.com/bagapp/web20/assets/img/bag/checkout_btn.png" name="CHECKOUT_BUTTON" value="CHECKOUT_BUTTON">
-->
						</div>
						<div class="clearFloats"></div>
						<div id="payPalContainer" class=" hidden">
							<img id="checkoutWithPayPal" class="buttonPaypalCTA"
								src="https://assets.macysassets.com/bagapp/web20/assets/img/bag/checkout-gold-44.png"
								alt="checkout with PayPal" name="PAYPAL_CHECKOUT"
								value="PAYPAL_CHECKOUT">
						</div>
						<input type="hidden" value="false" name="bagContainsBigTicketItem"
							id="bagContainsBigTicketItem"> <input type="hidden"
							value="true" name="bagContainsSmallTicketItem"
							id="bagContainsSmallTicketItem">
						<button id="continueShoppingButton" class="medium tertiary expand">Keep
							Shopping</button>
						<div class="shipToUS">
							<a id="shippingLink"
								href="/signin/index.ognc?fromPage=intlShoppingBag">Shipping
								to the United States?</a>
						</div>
					</div>
				</div>
			</div>
			<div id="estmdShipPanel">
				<div class="estimatedShipPanel">
					<div id="estmdShipText">
						Estimated Shipping Charge Details, U.S.
						<div class="intlSubText">
							Includes all charges to the international shipping warehouse in
							the United States. <strong>US shipping charges may
								differ between shopping bag and checkout; please confirm total
								at checkout</strong>
						</div>
					</div>
					<br>
					<div id="estmdShipPopUpText">
						<div id="standardShipping">
							<div id="popupEstShippingTxt" class="popupEstShippingText">
								Standard Shipping</div>
							<span id="popupEstimatedShipping" class="popupEstShippingCost">INR
								0.00</span>
						</div>
						<div id="estShpPromos"></div>
						<div id="greyMargin"></div>
						<div id="totalShipCost">
							<div id="popupTotalEstShippingTxt" class="popupEstShippingText">Total
								U.S. Shipping Costs</div>
							<span id="popupEstimatedShippingTotal"
								class="popupEstShippingTotalCost">INR 0.00</span>
						</div>
						<br>
					</div>
				</div>
			</div>
			<div id="youSavedContent">
				<div class="youSavedPanel">
					<b>How are your savings calculated?</b>
					<div>The amount "YOU SAVED" is the combined sum of the
						following:</div>
					<ul>
						<li>difference between an item's price today, and its reg. or
							org. price</li>
						<li>any promotional offers on individual items</li>
						<li>any promotional offers on your entire order</li>
					</ul>
				</div>
			</div>
			<div id="estimatedTaxesContent" class="hidden">
				<div class="estTaxHeaderText">Estimated Tax</div>
				<div class="estTaxPopInText">
					To estimate tax, we take your Shopping<br> Bag Subtotal and
					apply 6% sales tax,<br> an estimate based on "typical" sales<br>
					tax percentages nationwide. (Actual <br> sales tax will be
					calculated based upon<br> your Ship-to-Address and the
					taxability<br> of the items purchased.)
				</div>
			</div>
			<div id="shippingSurchargeContent" class="hidden">
				<div class="shippingSurchargeHeaderText">Shipping Surcharges</div>
				<div class="shippingSurchargePopInText">Certain items bear a
					shipping surcharge based on size and/or weight. There surcharges
					are clearly shown on appicable product pages.</div>
			</div>
			<div id="estimatedMerchTotalContent" class="hidden">
				<div class="estMerchTotalHeaderText">Estimated Merchandise
					Total</div>
				<div class="estMerchTotalText">Calculations on discounted
					merchandise differ from shopping bag to checkout, which may result
					in a slight difference in your merchandise total. Please check your
					total at checkout.</div>
			</div>
		</div>
	</div>
</body>
</html>