<html>
<body>
<div id="dialog-form" title="Chat With Us" style="background: white;">
	<form id="myForm" autocomplete="off">
		<div id="chatConversationWindow">
				<a href="../views/men-activeWare.html" style="margin-left: 35px"> <img src="../images/1.jpeg"
					style="width: 200px; height: 100px;" class="img-rounded"
					alt="Cinque Terre"></img>
				</a><br/>
				<a href = "../views/men-activeWare.html" style="margin-left: 35px"><span style="color: #337ab7">Champion Men's Logo Graphic T-Shirt</span></a><br/>
				<span style="color: red; margin-left: 35px">Sale INR 35.75</span><br/><br/>
				<a href="../views/men-activeWare.html" style="margin-left: 35px"><img src="../images/10.jpeg"
					style="width: 200px; height: 100px;" class="img-rounded"
					alt="Cinque Terre"></img><br/>
				</a><a href = "../views/men-activeWare.html" style="margin-left: 35px"><span style="color: #337ab7">adidas Men's Essential Tricot Track Jacket</span></a><br/>
				<span style="color: red; margin-left: 35px">Sale INR 450</span>
				<br/>
				<ul id="chatConversation"></ul>
			<input type="text" name="chat" id="chat"  class="text ui-widget-content ui-corner-all" style="bottom:0;right:0;margin-top: 230px;" />
		</div>
		</form>  
</div>
<script>
	$(document).ready(function() {
	
		var dialog, chatConversation;
		var chatInput = $("#chat");
		var chatDialog = $("#dialog-form");
		var counter = 0;
		window.addEventListener("beforeunload", function (event) {
			counter = 0;
			
		});
		chatDialog.dialog({
			autoOpen: false,
			 position: {
                 my: "right bottom",
                 at: "right bottom",
                 of: window
             },
			width: 350,
			height:350,
			modal: false,
			draggable: false,
			resizable: false,
			dialogClass: "dialogRoundedCorner",
			close: function( event, ui ) {
				counter++;
				if(counter < 3){
					setTimeout(function(){
						chatDialog.dialog("open");
					},15000)
				}
			}
		});
		chatDialog.dialog("open");
		
		
		$("#btnChatWindow").hide();
		
		document.forms.myForm.onsubmit = function(e) {			
            e = e || event;
            e.preventDefault();
			if($("#chat").val() != "") {
				$("#chatConversation").append("<li class='chatMessage'>"+ chatInput.val() +"</li>");
				$("#chatConversationWindow").scrollTop(9999999);
				$("#chat").val("");
			};
        };
		chatDialog.on("dialogclose", function() {
			$("#btnChatWindow").show();
		});
	});
	 
</script>
</body>
</html>