<!DOCTYPE html>
<html>
<head>
<head>
  <link rel="stylesheet" href="../css/createUser.css">
  <style type="text/css">
input, select {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 10px;
}
  
  </style>
</head>
</head>
<body>
<div class="col-md-7 col-xs-7 logintxt CENTER">

		<div class="container">

				<a href="/shoppingcart"> <img src="../images/stopandshop.jpg"
					style="width: 200px; height: 100px;" class="img-rounded" alt="Cinque Terre"></img>
				</a>
			</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../scripts/controllers/createUser.js"></script>
	<div class="container">
	<div class="row">
	<div class="form-group col-md-6 col-sm-6">
	<div ng-app="createUser" ng-controller="createUserCntrl" class="col-xs-12 col-sm-12 col-md-4 well well-sm">
		<form id="create-profile" class="standard-form">
			<h2>Create account</h2>
			
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<label for="userName">User Name : </label> <input id="userName"
						name="userName" class="form-control" title="User Name"
						data-validate="userName" type="text" value="" maxlength="20"
						ng-model="payload.userName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6">
					<label for="firstName">First Name : </label> <input id="firstName"
						name="firstName" class="form-control" title="First Name"
						data-validate="firstName" type="text" value="" maxlength="20"
						ng-model="payload.firstName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6">
					<label for="lastName">Last Name : </label> <input id="lastName"
						name="lastName" class="form-control" title="Last Name"
						data-validate="lastName" type="text" value="" maxlength="30"
						ng-model="payload.lastName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6" style="margin-left: -30px">
					<label for="email">Email Address : </label> <input id="email"
						name="email" title="Email" type="email" value="" maxlength="75"
						ng-model="payload.email" required class="form-control">
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6" >
					<label for="password">Password : </label> <input id="password"
						name="password" title="Password" type="password" value=""
						maxlength="16" autocomplete="off" style="padding-right: 96px;"
						ng-model="payload.password" required class="form-control">
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6" style="margin-left: -30px">
					<label for="password">Date of Birth : </label> <input id="dob"
						name="dob" title="Dob" type="date" value="" maxlength="16"
						autocomplete="off" style="padding-right: 96px;"
						ng-model="payload.dob" required class="form-control"> 
				</div>
			</div><br/>

			<div class="row">
				<div class="col-xs-6 col-md-6">
					<button type="submit" id="createProfileBtn" name="createProfile"
						class="button" ng-click="onSubmit()">Create Account</button>
					<input type="hidden" name="createProfile">
				</div>
			</div>

		</form>
	</div>
	</div>
	</div>
	</div>
</body>
</html>