<!DOCTYPE html>
<html>
<head>
<head>
  <link rel="stylesheet" href="../css/createUser.css">
</head>
</head>
<body>
<div class="col-md-7 col-xs-7 logintxt CENTER">
<h1>
			<marquee bgcolor="lightblue">Welcome to Stop & Shop Shopping</marquee>
		</h1>

		<div class="container">

				<a href="/shoppingcart"> <img src="../images/stopandshop.jpg"
					style="width: 200px; height: 100px;" class="img-rounded" alt="Cinque Terre"></img>
				</a>
			</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../scripts/controllers/createUser.js"></script>
	<div class="form-group col-md-6 col-sm-6">
	<div ng-app="createUser" ng-controller="createUserCntrl">
		<form id="create-profile" class="standard-form">
			<h2>Create account</h2>
			
			<div class="row">
				<div class="col-sm-8">
					<label for="userName">User Name : </label> <input id="userName"
						name="userName" class="createFormTextFields" title="User Name"
						data-validate="userName" type="text" value="" maxlength="20"
						ng-model="payload.userName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-8">
					<label for="firstName">First Name : </label> <input id="firstName"
						name="firstName" class="createFormTextFields" title="First Name"
						data-validate="firstName" type="text" value="" maxlength="20"
						ng-model="payload.firstName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-8">
					<label for="lastName">Last Name : </label> <input id="lastName"
						name="lastName" class="createFormTextFields" title="Last Name"
						data-validate="lastName" type="text" value="" maxlength="30"
						ng-model="payload.lastName" required />
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-10">
					<label for="email">Email Address : </label> <input id="email"
						name="email" title="Email" type="email" value="" maxlength="75"
						ng-model="payload.email" required>
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-10">
					<label for="password">Password : </label> <input id="password"
						name="password" title="Password" type="password" value=""
						maxlength="16" autocomplete="off" style="padding-right: 96px;"
						ng-model="payload.password" required>
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-10">
					<label for="password">Date of Birth : </label> <input id="dob"
						name="dob" title="Dob" type="date" value="" maxlength="16"
						autocomplete="off" style="padding-right: 96px;"
						ng-model="payload.dob" required>
				</div>
			</div><br/>

			<div class="row">
				<div class="col-sm-10">
					<button type="submit" id="createProfileBtn" name="createProfile"
						class="btn btn-default" ng-click="onSubmit()">Create Account</button>
					<input type="hidden" name="createProfile">
				</div>
			</div>

		</form>
	</div>
	</div>
</body>
</html>