<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<img src="../images/shoppingcart.png" style="width:304px;height:228px;">
<marquee> <span style="color: blue">Welcome to Online Shopping !!!!</span></marquee>
<body>



<div ng-app="myShoppingList" ng-controller="myCtrl">
  <ul>
   <!--   <li ng-repeat="product in products">{{product}}</li> -->
    <h2 class='color=blue'>Product Details...</h2>
    <input class="form-control" ng-model="searchKeyword" placeholder="Search"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <!-- <th>#</th> !-->
            <th>Product</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Quantity</th>
             <th>Unit Price</th>
            <!--  th>Price</th> -->
            <th>Add to Cart</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="pro in products | filter: searchKeyword ">
            <td>{{ pro.id }}</td>
            <td>{{ pro.name }}</td>
            <td>{{ pro.description }}</td>
            <td>{{ pro.quantity }}</td>
            <td>Rs. &nbsp;{{ pro.unitPrice | number : 2 }}</td>
            
            <td><input class="form-control" name="stocks" type="number" placeholder="0" min="1" value="1" step="1"
                       required="required" ng-model="stock" style="width: 75px"/>
            </td>
            <td>
                <button type="submit" class="btn btn-primary" ng-click="addToCart(pro,stock)">Add to Cart &nbsp; <span
                        class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
               <!--  </a>  -->
            </td>

        </tr>

        </tbody>
    </table>
    
  </ul>
</div>
<script src="../scripts/controllers/main.js"></script>

</body>
</html>
