<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/index.css">
<style type="text/css">
.dropbtn {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-left: 150px;
}

.img {
	margin-left: 130px;
	/* margin-top: 80px; */
}

.img-search {
	margin-left: 1200px;
	margin-top: -80px;
	
}
</style>
<title>Men Active Ware</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div ng-app = "menActiveWare" ng-controller = "menActiveWareCntrl">

	<div class="container">

		<a href="/shoppingcart"> <img src="../images/stopandshop.jpg"
			style="width: 200px; height: 100px;" class="img-rounded"
			alt="Cinque Terre"></img>
		</a>
	</div>
	
	<div>
			<div class="dropdown">
				<button class="dropbtn" style="margin-left: 250px">Women</button>
				<div class="dropdown-content" style="margin-left: 250px">
					<a href="#">Active Ware</a> <a href="#">Shoes</a> <a href="#">Jeans</a><a
						href="">Coats</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn" style="margin-left: 250px">Men</button>
				<div class="dropdown-content" style="margin-left: 250px">
					<a href="/shoppingcart/app/views/men-activeWare.html">Active
						Ware</a> <a href="#">Shoes</a> <a href="#">Jeans</a><a href="">Coats</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn" style="margin-left: 150px">Kids</button>
				<div class="dropdown-content" style="margin-left: 150px">
					<a href="#">Active Ware</a> <a href="#">Shoes</a> <a href="#">Jeans</a><a
						href="">Coats</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn" style="margin-left: 200px">Home
					Appliances</button>
				<div class="dropdown-content" style="margin-left: 200px">
					<a href="#">Kitchen</a> <a href="#">Furniture</a> <a href="#">Electronics</a>
				</div>
			</div>

		</div>
		<div class="img">
			<img src="../images/Men-activeware-1.jpg">
		</div>
	
	<ul>
    <h2 class='color=blue'>Product Details...</h2>
    <input class="form-control" ng-model="searchKeyword" placeholder="Search"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <!-- <th>#</th> !-->
            <th>Product</th>
            <th>Product Name</th>
            <!--  th>Price</th> -->
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="pro in productsByCat | filter: searchKeyword ">
            <td>{{ pro[0] }}</td>
            <td>{{ pro[1] }}</td>
            
            <!-- <td><input class="form-control" name="stocks" type="number" placeholder="0" min="1" value="1" step="1"
                       required="required" ng-model="stock" style="width: 75px"/>
            </td> -->
            <td>
                <button type="submit" class="btn btn-primary" ng-click="addToCart(pro[0])">Click for Description &nbsp; <span
                        class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                </a> 
            </td>

        </tr>

        </tbody>
    </table>
    
  </ul>

</div>



	<script src="../scripts/controllers/men-activeWare.js">
		
	</script>



</body>
</html>