<div class="lineItem dashedResgistryLine"
						id="lineitem_37384129_3_2" style="border-top: none;">
						<div class="qvAddToBagMessage"></div>
						<div id="bagErrMsg_3" class="bagErrorMsg hidden"></div>
						<div class="clearFloats"></div>
						<div class="lineItemError hidden notification-error"
							id="lineItemError_3"></div>
						<div class="colItem">
							<span class="itemImage"> <a
								href="https://www.macys.com/shop/product/carters-1-pc.-dog-footed-pajamas-baby-boys-0-24-months?ID=4591384"
								class="productUrl"> <img class="productImage"
									src="https://slimages.macysassets.com/is/image/MCY/products/2/optimized/8659622_fpx.tif?$filtermed$&amp;wid=100">
							</a>
							</span> <span class="itemDescription">
								<div class="itemName">
									<a
										href="https://www.macys.com"
										class="productName productUrl" id="href_3_productDesc">
										
										<h3><b><span id='bagProName'>{{bagProName}}</span></b></h3></a>
								</div> <span id="lineItemColor_3" class="itemColor"> <span
									class="label">Color: </span> <span class="valColor">Heather</span><br>
							</span> 
							<span id='bagProcDesc'>{{bagProcDesc}}</span>
							<span id="lineItemSize_3" class="itemSize"> <span
									class="label">Size: </span> <span class="valSize"></span><br>
							</span> 
							<br>
							<span class="itemWebId"> <span class="label">Web
										ID: </span> <span id="webID_4591384" class="valWebId">{{valWebId}}</span><br>
							</span>
							</span>
						</div>
						<div class="colDelivery">
							<span class="stockAvailable"> In Stock: Usually ships
								within 2 business days. </span>
						</div>
						<div class="colQtyUpdate">
							<select id="qtySelect" class="selectQty qtySelect_3">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<div id='priceDesc'>
						</div>
						<div class="makeChoice" id="makeChoiceColors_3"></div>
						<div class="makeChoice" id="makeChoiceSizes_3"></div>
						<div class="makeChoice" id="makeChoiceTypes_3"></div>
						<div class="promoDetails">
							<div id="promotionDesc_3"></div>
							<div id="promotionPrice_3" class="promoPrice"></div>
						</div>
						<div style="padding-bottom: 9px; width: 100%">
							<div class="clearFloats"></div>
							<div style="float: right; padding-top: 3px;">
								<div class="secondary linkOverride removeLink"
									id="remove_item_37384129_3_2">Remove</div>
								&nbsp;&nbsp;
							</div>
						</div>
							<span
							id="isRegistryLineItem"
							class="lineItemAttributes isRegistryLineItem hidden"></span>
						<div class="clearFloats"></div>
					</div> 